{% extends 'tours/base.html' %}

{% block content %}
    <main class="container mt-3">
        <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
        <p class="mb-4">Найдено {{ tours.items|length }} туров, от {{ min_max_prices.min }} до {{ min_max_prices.max }}
            и от {{ min_max_nights.min }} ночей до {{ min_max_nights.max }} ночей</p>
        <!-- CARDS -->
        <div class="row mt-5">
            {% for id, tour in tours.items %}
                <div class="col-4">
                    <div class="card mb-4">
                        <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ tour.title }}</h2>
                            <p class="card-text">{{ tour.description }}</p>
                            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
